.option-image {
    width: 20px;
    /* Ajuste o tamanho da imagem conforme necessário */
    height: 20px;
    margin-right: 5px;
    /* Adapte a margem conforme necessário */
}

.navbarStyle {
    box-shadow: 10px 10px 15px rgba(0, 0, 0, 0.3);
}