<div class="container-fluid mt-2">
    <!--   <div class="card card-block mb-2">
        <h4 class="card-title">Card 1</h4>
        <p class="card-text">Welcom to bootstrap card styles</p>
        <a href="#" class="btn btn-primary">Submit</a>
      </div>   -->

    <div class="row mt-3">
        <div class="col-md-3 col-sm-6">
            <div class="card card-block">
                <!-- <h4 class="card-title text-right"><i class="material-icons">settings</i></h4> -->
                <img src="../../assets/img/cofe.jpg" class="rounded-top" alt="Photo of sunset">
                <h5 class="card-title mt-3 mb-3 p-2">
                    {{ 'cards-news.titulo-1' | translate }}
                </h5>
                <p class="card-text p-2">
                    {{ 'cards-news.noticia-1' | translate }}
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card card-block">
                <!-- <h4 class="card-title text-right"><i class="material-icons">settings</i></h4> -->
                <img src="../../assets/img/coffe2.png" class="rounded-top" alt="Photo of sunset">
                <h5 class="card-title  mt-3 mb-3 p-2">
                    {{ 'cards-news.titulo-2' | translate }}
                </h5>
                <p class="card-text p-2">
                    {{ 'cards-news.noticia-2' | translate }}
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card card-block">
                <!-- <h4 class="card-title text-right"><i class="material-icons">settings</i></h4> -->
                <img src="../../assets/img/coffe3.jpg" class="rounded-top" alt="Photo of sunset">
                <h5 class="card-title  mt-3 mb-3 p-2">
                    {{ 'cards-news.titulo-3' | translate }}
                </h5>
                <p class="card-text p-2">
                    {{ 'cards-news.noticia-3' | translate }}
                </p>
            </div>
        </div>
        <div class="col-md-3 col-sm-6">
            <div class="card card-block">
                <!-- <h4 class="card-title text-right"><i class="material-icons">settings</i></h4> -->
                <img src="../../assets/img/coffe4.png" class="rounded-top" alt="Photo of sunset">
                <h5 class="card-title  mt-3 mb-3 p-2">
                    {{ 'cards-news.titulo-4' | translate }}
                </h5>
                <p class="card-text p-2">
                    {{ 'cards-news.noticia-4' | translate }}
                </p>
            </div>
        </div>
    </div>

</div>